@-webkit-keyframes jumpJump {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
            transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, 0.8);
            transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, 0.8);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
            transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
  }
}

@keyframes jumpJump {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
            transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, 0.8);
            transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, 0.8);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
            transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);
  }
}

@-webkit-keyframes letterMove {
  0% {
    -webkit-transform: translate(-24.027px, -28px);
            transform: translate(-24.027px, -28px);
  }
  50% {
    -webkit-transform: translate(-24.027px, -34px);
            transform: translate(-24.027px, -34px);
  }
  100% {
    -webkit-transform: translate(-24.027px, -28px);
            transform: translate(-24.027px, -28px);
  }
}

@keyframes letterMove {
  0% {
    -webkit-transform: translate(-24.027px, -28px);
            transform: translate(-24.027px, -28px);
  }
  50% {
    -webkit-transform: translate(-24.027px, -34px);
            transform: translate(-24.027px, -34px);
  }
  100% {
    -webkit-transform: translate(-24.027px, -28px);
            transform: translate(-24.027px, -28px);
  }
}

.letter-moving {
  -webkit-animation: letterMove 10s ease-in-out .5s infinite;
          animation: letterMove 10s ease-in-out .5s infinite;
}

.inactive {
  opacity: .5;
  pointer-events: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: radial-gradient(#b0cbff 1.25px, transparent 1.25px), radial-gradient(#b0cbff 1.25px, white 1.25px);
  background-size: 50px 50px;
  background-position: 0 0,25px 25px;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #030333;
}

h1, h2, p {
  color: #030333;
}

#header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 860px) {
  #header {
    background: white;
    height: 70px;
  }
}

#logo, #cart {
  margin: 0 1em 0 .5em;
}

#cart {
  position: relative;
  cursor: pointer;
}

#cart::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #030333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

#cart:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#cart:hover .picto__cart--basket {
  -webkit-transform: scale(1.1) translate(-1298.215px, 38px) rotate(-3deg);
          transform: scale(1.1) translate(-1298.215px, 38px) rotate(-3deg);
}

#logo {
  width: 200px;
  height: 60px;
}

.logo__letter {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.picto__cart--bg {
  fill: #030333;
}

.picto__cart--line {
  stroke: #DEDEDE;
}

.picto__cart--basket {
  fill: #DEDEDE;
  -webkit-transform: scale(1) translate(-1297.215px, -29.551px) rotate(0deg);
          transform: scale(1) translate(-1297.215px, -29.551px) rotate(0deg);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.picto__cart--wheel {
  fill: #DEDEDE;
}

.picto__cart--wheel2 {
  fill: #DEDEDE;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.content-wrap {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media (max-width: 860px) {
  .content-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.hero__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 860px) {
  .hero__section {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.first-heading {
  font-family: 'Sora', sans-serif;
  font-weight: 750;
  font-size: 3.5em;
  line-height: 1;
  margin-bottom: 0;
}

@media (max-width: 860px) {
  .first-heading {
    font-size: 8vw;
  }
}

.first-heading__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 860px) {
  .first-heading__wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
}

.first-heading__descr {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 0.2em;
}

@media (max-width: 860px) {
  .first-heading__descr {
    font-size: 1.2em;
    font-weight: 350;
  }
}

.second-heading {
  font-family: 'Sora', sans-serif;
  font-weight: 750;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0;
}

@media (max-width: 860px) {
  .second-heading {
    font-size: 6vw;
    line-height: 1.2;
  }
}

.second-heading__wrap {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 2em 4em 8em 1em;
  width: 100%;
  justify-self: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 599px) {
  .second-heading__wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    margin: 0;
  }
}

.second-heading__descr {
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 0.2em;
}

@media (max-width: 860px) {
  .second-heading__descr {
    font-size: 1.2em;
    font-weight: 350;
  }
}

.cta {
  position: relative;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  padding: .6em;
  border-radius: 4px;
  background: #002A7D;
}

.cta p {
  color: white;
}

@media (max-width: 860px) {
  .cta {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 1.4em 1em 1.4em;
  }
}

.cta--white {
  text-align: center;
  cursor: pointer;
  color: #030333;
  font-size: 1.2em;
  font-weight: 550;
  background: white;
  padding: .6em;
}

@media (max-width: 860px) {
  .cta--white {
    font-size: 1em;
    font-weight: 700;
  }
}

.cart__animation--launch {
  -webkit-animation: jumpJump 1s ease-in-out .1s 1;
          animation: jumpJump 1s ease-in-out .1s 1;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  max-width: 600px;
}

#form-wrap {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

@media (max-width: 860px) {
  #form-wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 120px;
  }
}

.opt__btn {
  overflow: hidden;
  background: transparent;
}

.opt__btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #030333;
  z-index: -1;
}

.opt__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #002A7D;
  border-radius: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.opt__btn:hover::after {
  -webkit-transform: scale(8) translate(30%);
          transform: scale(8) translate(30%);
}

.cart__wrap {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 3;
      grid-template-rows: 3;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #DEDEDE;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: -webkit-transform ease-in-out .3s;
  transition: -webkit-transform ease-in-out .3s;
  transition: transform ease-in-out .3s;
  transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
}

@media (max-width: 860px) {
  .cart__wrap {
    background: white;
  }
}

.cart__wrap--open {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

#total-cart {
  color: white;
}

#order-results {
  color: white;
  font-size: .8em;
  font-weight: 500;
}

.order-results__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #FF5757;
  position: absolute;
  top: -.4em;
  right: -.2em;
  z-index: 99;
}

.selected-item {
  position: relative;
  -webkit-box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
          box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  padding: 1em;
  margin: 2em;
  z-index: 1;
}

@media (max-width: 860px) {
  .selected-item {
    padding: 0;
    width: 90%;
    margin: .5em;
  }
}

.selected-item__wrap {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #030333;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 26, 62, 0.425), inset 0 0px 10px rgba(0, 26, 62, 0.425);
          box-shadow: inset 0 1px 10px rgba(0, 26, 62, 0.425), inset 0 0px 10px rgba(0, 26, 62, 0.425);
  z-index: 3;
  width: 100%;
  height: auto;
  max-height: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  margin-top: 5em;
}

.selected-item__wrap::-webkit-scrollbar {
  display: none;
}

@media (max-width: 860px) {
  .selected-item__wrap {
    margin-top: 70px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cart-selected__heading {
  font-weight: 750;
}

@media (max-width: 860px) {
  .cart-selected__heading {
    font-weight: 700;
    font-size: 1em;
    margin-left: .5em;
  }
}

.cart-selected__btn {
  position: relative;
  all: unset;
  cursor: pointer;
  position: relative;
  top: -2.4em;
  right: -2em;
  font-weight: 750;
  font-size: 1.2em;
  background: white;
  -webkit-box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
          box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 100%;
  color: #030333;
}

@media (max-width: 860px) {
  .cart-selected__btn {
    top: 0;
    right: .5em;
    background: #030333;
    color: #DEDEDE;
    width: 2em;
    height: 2em;
  }
}

.cart-selected__btn::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -1px) rotate(-45deg);
          transform: translate(-50%, -1px) rotate(-45deg);
  height: 1.6px;
  width: 24px;
  background: white;
}

@media (min-width: 860px) {
  .cart-selected__btn::after {
    background: #030333;
  }
}

.cart-selected__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -1px) rotate(45deg);
          transform: translate(-50%, -1px) rotate(45deg);
  height: 1.6px;
  width: 24px;
  background: white;
}

@media (min-width: 860px) {
  .cart-selected__btn::before {
    background: #030333;
  }
}

.cart-selected__price {
  font-weight: 750;
}

@media (max-width: 860px) {
  .cart-selected__price {
    right: 8em;
    font-weight: 600;
    font-size: .8em;
  }
}

.cart-selected__opt {
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  height: 1.2em;
  overflow: hidden;
}

@media (max-width: 860px) {
  .cart-selected__opt {
    display: none;
  }
}

#remove-section {
  position: relative;
  z-index: 99;
  margin-top: 0;
  background: white;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2em;
}

@media (max-width: 860px) {
  #remove-section {
    margin-bottom: 0;
    -webkit-box-shadow: 2px 3px 7px rgba(0, 26, 62, 0.425);
            box-shadow: 2px 3px 7px rgba(0, 26, 62, 0.425);
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    position: absolute;
    bottom: 0;
  }
}

#remove-cart {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#remove-cart:hover #trash__icon--top {
  -webkit-transform: translate(-4px, -2px) rotate(-10deg);
          transform: translate(-4px, -2px) rotate(-10deg);
}

#trash__icon {
  width: 52px;
  height: auto;
  background: #030333;
  border-radius: 100%;
  padding: .2em;
}

@media (max-width: 860px) {
  #trash__icon {
    width: 36px;
    height: 36px;
  }
}

#trash__icon--g {
  fill: #DEDEDE;
}

#trash__icon--top {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

#total-cart {
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 1em;
  color: #030333;
}

@media (max-width: 860px) {
  #total-cart {
    font-size: 1em;
    font-weight: 700;
    margin-right: .8em;
  }
}

.cls-1, .cls-2 {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-1 {
  stroke-width: 1.6px;
}

.cls-2 {
  stroke-width: 1.33px;
}

#valid-order {
  border: none;
  cursor: pointer;
  max-width: 300px;
  height: 100%;
  padding: 1.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 860px) {
  #valid-order {
    padding: 1em 1.4em 1em 1.4em;
    margin: 1em;
  }
}

#alert-heading {
  position: fixed;
  background: #030333;
  color: white;
  font-size: 3em;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

@media (max-width: 400px) {
  #alert-heading {
    font-size: 2em;
  }
}

#product__section {
  margin-top: 50em;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: ()[2];
      grid-template-rows: repeat(2);
}

@media (max-width: 600px) {
  #product__section {
    margin-top: 10em;
  }
}

.product__link {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__link--type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.product__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: #030333;
  margin-bottom: 3em;
}

.product__wrap::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #002A7D;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.product__wrap:hover .product__img {
  -webkit-clip-path: path("M 600 0 L 600 600 L 0 600 L 0 324.05 L 20 263.29 L 10 203.66 L 24 142.25 L 0 80.36 L 24 0 Z");
          clip-path: path("M 600 0 L 600 600 L 0 600 L 0 324.05 L 20 263.29 L 10 203.66 L 24 142.25 L 0 80.36 L 24 0 Z");
}

.product__wrap:hover::after {
  opacity: 1;
}

@media (max-width: 600px) {
  .product__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__wrap:hover .product__img {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-filter: grayscale(1) contrast(1.1);
          filter: grayscale(1) contrast(1.1);
  -webkit-transition: -webkit-clip-path .2s ease-in-out;
  transition: -webkit-clip-path .2s ease-in-out;
  transition: clip-path .2s ease-in-out;
  transition: clip-path .2s ease-in-out, -webkit-clip-path .2s ease-in-out;
  -webkit-clip-path: path("M 600 0 L 600 600 L 0 600 L 12.39 324.05 L 14.47 263.29 L 3.47 203.66 L 12.37 142.25 L 3.48 80.36 L 18.5 0 Z");
          clip-path: path("M 600 0 L 600 600 L 0 600 L 12.39 324.05 L 14.47 263.29 L 3.47 203.66 L 12.37 142.25 L 3.48 80.36 L 18.5 0 Z");
}

@media (max-width: 600px) {
  .product__img {
    height: 100%;
    max-height: 200px;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.product__container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 860px) and (min-width: 600px) {
  .product__container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
}

@media (max-width: 599px) {
  .product__container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
}

.product__item--type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  width: 100%;
  max-width: 264px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 1em;
}

@media (max-width: 600px) {
  .product__item--type-container {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}

.product__item--btn {
  border: none;
  width: 100%;
}

.product__item--heading {
  color: white;
  font-weight: 700;
  font-size: 1.4em;
  border-bottom: solid 1px white;
  padding-bottom: 1em;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 600px) {
  .product__item--heading {
    font-weight: 600;
    font-size: 1.2em;
  }
}

.product__item--descr {
  color: white;
  font-weight: 300;
  margin: auto 1em auto 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 600px) {
  .product__item--descr {
    font-weight: 200;
    font-size: 1em;
  }
}

.product__item--price {
  color: white;
  font-weight: 800;
  font-size: 1.3em;
  text-align: right;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 600px) {
  .product__item--price {
    font-weight: 600;
    font-size: 1em;
  }
}

.product__icon {
  margin: center;
}

.product__cta {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: .5em;
  bottom: .5em;
  z-index: 3;
  background: #030333 !important;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.product__cta::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002A7D;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.product__cta:hover .picto__cart--basket {
  -webkit-transform: scale(1.1) translate(-1298.215px, 38px) rotate(-3deg);
          transform: scale(1.1) translate(-1298.215px, 38px) rotate(-3deg);
}

.product__cta:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.product__cta:hover::after {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media (max-width: 860px) {
  .product__cta {
    right: .5em;
    top: .5em;
    width: 52px;
    height: 52px;
  }
}

.product__cta--icon {
  width: 50px;
  height: 50px;
}

.product-form__wrap {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-width: 300px;
  right: 0;
  background: #030333;
  z-index: 10;
  padding: .5em;
  color: white;
  font-size: 1.2em;
  font-weight: 550;
}

@media (max-width: 860px) {
  .product-form__wrap {
    position: unset;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1em;
    font-weight: 550;
    padding: 1em 0 1em 0;
    background: #002A7D;
  }
}

#img__5be9c4471c9d440000a730e8 {
  -webkit-filter: grayscale(1) contrast(1.5);
          filter: grayscale(1) contrast(1.5);
}

.img__parallax {
  position: fixed;
  bottom: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  right: 10%;
  z-index: -1;
  height: 400px;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  -webkit-clip-path: path("M600,372.28l-120.54,22.5-92.83-13.34-92.11,13.34-89.46-16.47-91.14,3.13L0,400V0H600Z");
          clip-path: path("M600,372.28l-120.54,22.5-92.83-13.34-92.11,13.34-89.46-16.47-91.14,3.13L0,400V0H600Z");
}

@media (max-width: 860px) and (min-width: 600px) {
  .img__parallax {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@media (max-width: 599px) {
  .img__parallax {
    -webkit-transform: scale(0.9) translateY(40%);
            transform: scale(0.9) translateY(40%);
    right: 0;
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3/7;
  }
}

#img__hero {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-p-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-p__hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  width: 100%;
}

.product-p__heading-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

@media (max-width: 860px) {
  .product-p__heading-wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.product-p__img {
  -webkit-filter: grayscale(1) contrast(1.1);
          filter: grayscale(1) contrast(1.1);
  width: 100%;
  height: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 860px) {
  .product-p__img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.product-p__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2em 0 3em 0;
}

@media (max-width: 860px) {
  .product-p__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: .5em 1.2em 1.2em 1.2em;
  }
}

@media (max-width: 860px) {
  .product-p__form div {
    margin: .2em 0 .2em 0;
  }
}

.product-p__wrap {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
}

@media (max-width: 860px) {
  .product-p__wrap {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    grid-row: 3/7;
  }
}

.product-p__low-heading {
  font-size: 2em;
  font-weight: 600;
}

@media (max-width: 860px) {
  .product-p__low-heading {
    font-size: 1.5em;
    margin: 1em 0 0 1em;
  }
}

#product-p__hero {
  height: 100%;
}

.opt__form {
  background: #DEDEDE;
  width: 100%;
  height: 100%;
}

.opt__btn {
  border: none;
  text-align: right;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 300px;
  text-align: center;
}

/*
[type="radio"] {
	opacity:0;
    width:0;
    position:absolute;
}
*/
@-webkit-keyframes btn-fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes btn-fill {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.check__btn {
  position: relative;
  content: '';
  border: solid #030333 1px;
  background: white;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}

.check__btn:before {
  content: '';
  background: #002A7D;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
}

.check__descr {
  position: relative;
  z-index: 3;
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 1em;
  margin-right: .5em;
}

.check__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.check__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: solid 2px #002A7D;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

input[type="radio"] {
  width: 0;
  opacity: 0;
}

input[type="radio"]:checked ~ label .check__btn::before {
  -webkit-animation: 100ms ease-in-out forwards btn-fill;
          animation: 100ms ease-in-out forwards btn-fill;
}

input[type="radio"]:checked ~ label::before {
  opacity: 1;
}

input[type="radio"]:checked ~ label .check__descr {
  color: #002A7D;
}

.post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  width: 100%;
  max-width: 350px;
}

@media (max-width: 860px) {
  .post-form {
    width: 90%;
  }
}

.post-form input {
  font-size: 1.5em;
  font-weight: 650;
  color: #030333;
  background: white;
  border: solid #030333 1px;
  border-radius: 5em;
  padding: .2em;
}

@media (max-width: 860px) {
  .post-form input {
    font-size: 1em;
    font-weight: 500;
  }
}

.post-form label {
  font-size: 1.5em;
  font-weight: 650;
  color: #030333;
  margin: .2em 0 .2em 0;
}

@media (max-width: 860px) {
  .post-form label {
    font-size: 1.2em;
    font-weight: 550;
  }
}

.post-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.post-form__btn {
  margin-top: 1em;
  max-width: 200px;
  padding: 1em .5em 1em .5em !important;
  background: #002A7D !important;
  color: white !important;
  font-weight: 700 !important;
  border: none !important;
  border-radius: 4px !important;
}

#post-p__hero {
  height: 60vh;
}

@media (max-width: 1150px) {
  #post-p__hero {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1150px) {
  #post-p__content-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.post-p__hero-wrap {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

@media (max-width: 860px) {
  .post-p__hero-wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
}

#order-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
}

@media (max-width: 1150px) {
  #order-summary {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.order-summary__wrap {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 1150px) {
  .order-summary__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4em;
    width: 100%;
    max-width: 500px;
  }
}

.summary-item__wrap {
  position: relative;
  -webkit-box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
          box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  padding: 1em;
  margin: 2.5em 0 2.5em 0;
}

@media (max-width: 1150px) {
  .summary-item__wrap {
    padding: 0;
    margin: 1em 0 1em 0;
    width: 90%;
  }
}

.summary-item__opt {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 860px) {
  .summary-item__opt {
    font-size: .8em;
    width: 80px;
  }
}

.summary-item__price {
  margin-right: 1em;
  font-weight: 600;
  text-align: right;
}

@media (max-width: 860px) {
  .summary-item__price {
    position: unset;
  }
}

@media (max-width: 860px) {
  .summary-item__heading {
    margin-left: 1em;
  }
}

@media (max-width: 860px) {
  .opt__btn {
    margin-top: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */