html, body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo, #cart {
  margin: 0 1em 0 .5em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.content-wrap {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.hero__section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#product__section {
  margin-top: 50em;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: ()[2];
      grid-template-rows: repeat(2);
}

.first-heading {
  font-family: 'Sora', sans-serif;
  font-weight: 750;
  font-size: 3.5em;
  line-height: 1;
  margin-bottom: 0;
}

.first-heading__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.first-heading__descr {
  font-size: 1.5em;
  font-weight: 150;
  margin-top: 0.2em;
}

.second-heading {
  font-family: 'Sora', sans-serif;
  font-weight: 750;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0;
}

.second-heading__wrap {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 2em 4em 1em 1em;
  width: 100%;
  justify-self: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.second-heading__descr {
  font-size: 1.2em;
  font-weight: 150;
  margin-top: 0.2em;
  width: 100%;
  max-width: 500px;
  margin-top: .8em;
}

.product__link {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product__link--type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.product__link--item-heading {
  margin-left: 1em;
}

.product__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: blue;
}

.product__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-filter: grayscale(1) contrast(1.1);
          filter: grayscale(1) contrast(1.1);
}

.product__container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-column: 3/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__item--type-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 264px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 1em;
}

.product__icon {
  width: 56px;
  height: 56px;
  margin: center;
}

.product__icon--svg {
  width: 56px;
  height: 59px;
}

.product__btn {
  all: unset;
  border-radius: 100%;
}

.img__parallax {
  position: fixed;
  bottom: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  right: 10%;
  z-index: -1;
  height: 400px;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  -webkit-clip-path: path("M600,372.28l-120.54,22.5-92.83-13.34-92.11,13.34-89.46-16.47-91.14,3.13L0,400V0H600Z");
          clip-path: path("M600,372.28l-120.54,22.5-92.83-13.34-92.11,13.34-89.46-16.47-91.14,3.13L0,400V0H600Z");
}

#img__hero {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__wrap {
  display: none;
}
/*# sourceMappingURL=style.css.map */