.product-p{
    &__hero{
        grid-column:1/13;
        grid-row: 1/7;
        width:100%;
    }
    &__heading-wrap{
        align-self: center;
        grid-column: 3/9;
        grid-row: 2/4;
            @media(max-width:860px){
                grid-column: 2/6;
                grid-row: 2/4;
            }
    }
    &__img{
        filter: grayscale(1) contrast(1.1);
        width:100%;
        height:100%;
        max-height:420px;
        object-fit: cover;
        //clip-path: path('M 800 0 L 800 800 L 0 800 L 12.39 324.05 L 14.47 263.29 L 3.47 203.66 L 12.37 142.25 L 3.48 80.36 L 18.5 0 Z');
            @media(max-width:860px){
                width:100%;
                height:100%;
                max-height:320px;
                object-fit: cover;
            }
    }
    &__form{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:1.2em 0 3em 0;
            @media(max-width:860px){
                flex-direction:column;
                align-items: flex-start;
                margin:.5em 1.2em 1.2em 1.2em;
            }
        & div{
            @media(max-width:860px){
                margin:.2em 0 .2em 0;
            }
        }
    }
    &__wrap{
        grid-column: 5/12;
        grid-row:4/7;
            @media(max-width:860px){
                align-self: center;
                grid-column: 1/7;
                grid-row:4/7;
            }
    }
    &__low-heading{
        font-size:2em;
        font-weight:600;
            @media(max-width:860px){
                font-size:1.5em;
                margin:1em 0 0 1em;
            }
    }
}
#product-p__hero{
    height:100%;
}
.opt{
    &__form{
        background:$med-color;
        width:100%;
        height:100%;
    }
    &__btn{
        border:none;
        text-align: right;
    }
}