$light-color : white;
$med-color : #DEDEDE;
$call-color : #002A7D;
$contrast-color : #030333;
$shadow-color:rgba(0, 26, 62, 0.425);

@mixin h1-font-settings {
    font-family: 'Sora', sans-serif;
    font-weight:750;
    font-size:3.5em;
    line-height:1;
    margin-bottom: 0;
}

@mixin heading-descr-settings{
    font-size: 1.5em;
    font-weight:200;
    margin-top:0.2em;
        @media(max-width:860px){
            font-size: 1.2em;
            font-weight: 350;
        }
}

@mixin transition-settings {
    transition:transform .2s ease-in-out;
}

@mixin cart-hover-settings{
    &:hover .picto__cart--basket{
        transform: scale(1.1) translate(-1298.215px, 38px) rotate(-3deg);
    }
    &:hover .picto__cart--wheel{
        transform: scale(1.2) translate(21.723px, 22.804px);
    }
    &:hover .picto__cart--wheel2{
        transform: scale(1.3) translate(13px, 22.804px);
    }
}

@keyframes jumpJump {
    0%{transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);}
    50%{transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, .8);}
    100%{transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);}
}

@keyframes letterMove {
    0%{transform: translate(-24.027px, -28px);}
    50%{transform: translate(-24.027px, -34px);}
    100%{transform: translate(-24.027px, -28px);}
}

.letter-moving{
    animation: letterMove 10s ease-in-out .5s infinite;
}

@mixin item-box__settings {
    position:relative;
    box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:500px;
    background:$light-color;
    border-radius: 8px;
    padding:1em;
}

.inactive{
    opacity:.5;
    pointer-events: none !important;
}