$light-color : white;
$med-color : #DEDEDE;
$call-color : #002A7D;
$contrast-color : #001A3E;
$shadow-color:rgba(0, 26, 62, 0.425);

@keyframes jumpJump {
    0%{transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);}
    50%{transform: rotate3d(0, 1, 0, 360deg) translateY(-10px) scale(1.2, .8);}
    100%{transform: rotate3d(0, 1, 0, 0deg) translateY(0) scale(1, 1);}
}


html, body{
    padding:0;
    margin:0;
    font-family: 'Sora', sans-serif;
}

body{
    width:100%;
    height:100%;
    background-color: $light-color;
    background-image:  radial-gradient(lighten($call-color, 60%) 1.25px, transparent 1.25px), radial-gradient(lighten($call-color, 60%) 1.25px, $light-color 1.25px);
    background-size: 50px 50px;
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color:$contrast-color;
}

h1, h2, p{
    color:$contrast-color;
}

#alert-heading{
    position:fixed;
    background:$contrast-color;
    color:$light-color;
    font-size: 3em;
    font-weight:700;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#header{
    z-index:999;
    position: fixed;
    width:100%;
    height:90px;
    display:flex;
    justify-content: space-between;
    align-items: center;
        @media(max-width:860px){
            background:$light-color;
            height:70px;
        }
}

#logo, #cart{
    margin: 0 1em 0 .5em;
}

#picto__cart{
    &--bg{
        fill : $contrast-color;
    }
    &--line{
        stroke:$med-color;
    }
    &--basket{
        fill:$med-color;
    }
    &--wheel{
        fill:$med-color;
            &2{
                fill:$med-color;
            }
    }
}

.picto__cart{
    opacity:1;
    transform: rotateY(0deg); 
    &--invert{
    position:relative;
    transform: rotateY(360deg); 
    transition: all .3s ease-in-out;
    }
}

main{
    display:flex;
    justify-content: center;
    width:100%;
}

.content-wrap{
    width:100%;
    max-width:1440px;
    height:100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
        @media(max-width:860px){
            grid-template-columns: repeat(3, 1fr);
        }
}

.hero__section{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width:100%;
    height:100vh;
    margin:0;
    padding: 0;
        @media(max-width:860px){
            grid-template-columns: repeat(6, 1fr);
        }
}

#product__section{
    margin-top:50em;
    width:100%;
    grid-column: 1/13;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2);
        @media(max-width:600px){
            margin-top:10em;
        }
}

.first-heading{
    font-family: 'Sora', sans-serif;
    font-weight:750;
    font-size:3.5em;
    line-height:1;
    margin-bottom: 0;
        @media(max-width:860px){
            font-size:8vw;
        }
    &__wrap{
        display: flex;
        flex-direction: column;
        grid-column: 2/8;
        grid-row: 3/6;
        transition : opacity .3s ease-in-out;
            @media(max-width:860px){
                grid-column: 2/6;
                grid-row: 2/5;
            }
    }
    &__descr{
        font-size: 1.5em;
        font-weight:150;
        margin-top:0.2em;
            @media(max-width:860px){
                font-size: 1.2em;
            }
    }
}

.second-heading{
    font-family: 'Sora', sans-serif;
    font-weight:750;
    font-size:2.5em;
    line-height:1;
    margin-bottom: 0;
        @media(max-width:860px){
            font-size:6vw;
            line-height:1.2
        }
    &__wrap{
        grid-column: 7/12;
        grid-row:1/2;
        margin:2em 4em 8em 1em;
        width:100%;
        justify-self: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        transition : opacity .3s ease-in-out;
            @media(max-width:599px){
                grid-column: 2/12;
                margin:0;
            }
    }
    &__descr{
        font-size: 1.2em;
        font-weight:150;
        margin-top:0.2em;
        width:100%;
        max-width:500px;
        margin-top: .8em;
    }
}

.product{
    &__link{
        position: relative;
        z-index:1;
        width:100%;
        display:flex;
        justify-content: flex-end;
            &--type{
                flex-direction: column;
                width: 100%;
                height:100%;
            }
    }
    &__wrap{
        display:flex;
        width:100%;
        max-width:800px;
        height:100%;
        background: rgb(3, 3, 51);
        margin-bottom: 3em;
            @media(max-width:600px){
                flex-direction:column;
                align-items:center;
            }
    }
    &__img{
        width:100%;
        height:400px;
        object-fit: cover;
        z-index:0;
        filter: grayscale(1) contrast(1.1);
        clip-path: path('M 550 0 L 550 400 L 0 410 L 12.39 324.05 L 14.47 263.29 L 3.47 203.66 L 12.37 142.25 L 3.48 80.36 L 18.5 0 Z');
            @media(max-width:600px){
                height:100%;
                max-height:200px;
                clip-path: none;
            }
    }
    &__container{
        grid-column: 3/12;
        grid-row:2/3;
        margin:1em;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
            @media(max-width:860px) and (min-width:600px){
                grid-column: 2/12;
            }
            @media(max-width:599px){
                grid-column: 1/13;
            }
    }
    &__item{
        &--type-container{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            z-index:2;
            width:100%;
            max-width: 264px;
            order:-1;
            margin:1em;
                @media(max-width:600px){
                    order:unset;
                }
        }
        &--heading{
            color: $light-color;
            font-weight:700;
            font-size: 1.4em;
            border-bottom:solid 1px $light-color;
            padding-bottom: 1em;
                @media(max-width:600px){
                    font-weight:600;
                    font-size: 1.2em;
                }
         }
         &--descr{
             color:$light-color;
             font-weight: 300;
             margin:auto 1em auto 0;
                @media(max-width:600px){
                    font-weight:200;
                    font-size: 1em;
                }      
         }
         &--price{
            color:$light-color;
             font-weight:800;
             font-size: 1.3em;
             text-align: right;
                @media(max-width:600px){
                    font-weight:600;
                    font-size: 1em;
                }
         }
    }
    &__icon{
        margin:center;
    }
    &__btn{
        all:unset;
        justify-self: flex-end;
        text-align: center;
        cursor:pointer;
    }
}

#img__5be9c4471c9d440000a730e8{
    filter: grayscale(1) contrast(1.5);
}


.img__parallax{
    position:fixed;
    bottom: 0;
    transform: translateY(30%);
    backface-visibility:hidden;
    right: 10%;
    z-index:-1;
    height: 400px;
    margin:0;
    padding:0;
    transition : opacity .3s ease-in-out;
    clip-path: path('M600,372.28l-120.54,22.5-92.83-13.34-92.11,13.34-89.46-16.47-91.14,3.13L0,400V0H600Z');
        @media(max-width:860px) and (min-width: 600px){
            transform: translateY(10%);
        }
        @media(max-width:599px){
            transform: scale(.9) translateY(40%);
            right:0;
            position:relative;
            grid-column: 1/7;
            grid-row: 3/7;
        }
}


#img__hero{
    width:100%;
    max-width:600px;
    height:100%;
    max-height:400px;
    object-fit: cover;
}

.cart{
    &__wrap{
        position:fixed;
        display:grid;
        justify-content: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 3;
        z-index:10;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:$med-color;
        transform: translateX(100vw);
        transition: transform ease-in-out .3s;
            @media(max-width:860px){
                background:$light-color;
            }
            &--open{
                transform: translateX(0)!important;
            }
    }
}

#total-cart {
    color:$light-color;
}

#order-results{
    color:$light-color;
    font-size: .8em;
    font-weight:500;
}

.order-results__wrap{
    display:flex;
    align-items:center;
    justify-content:center;
    width:22px;
    height:22px;
    border-radius:100%;
    background: #FF5757;
    position:absolute;
    top:.8em;
    right:.8em;
    z-index:99;
    backface-visibility: $contrast-color;
        @media(max-width:860px){
            top:.4em;
            right:.4em;
        }
}

.cart__animation--launch{
    animation: jumpJump 1s ease-in-out .1s 1;
}

.selected-item{
    position:relative;
    box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    max-width:500px;
    background:$light-color;
    border-radius: 8px;
    padding:1em;
    margin:2em;
    z-index:1;
        @media(max-width:860px){
            padding:0; 
            width:90%;
            margin:.5em;
        }
        &__wrap{
            grid-column: 3/11;
            grid-row: 1/3;
            display:flex;
            flex-direction:column;
            background:$contrast-color;
            box-shadow: inset 0 1px 10px $shadow-color,
                        inset 0 0px 10px $shadow-color;
            z-index:3;
            width:100%;
            height:auto;
            max-height: 800px;
            align-items:center;
            overflow:auto;
            margin-top:5em;
                    &::-webkit-scrollbar{
                        display:none;
                    }
                    @media(max-width:860px){
                        margin-top: 70px;
                        grid-column: 1/13;
                        grid-row: 1/3;
                        justify-content:flex-start;
                    }
        }
}
.cart-selected{
    &__heading{
       font-weight:750; 
       @media(max-width:860px){
        font-weight:700; 
        font-size:1em;
        margin-left:.5em;
    }
    }
    &__btn{
        all:unset;
        cursor: pointer;
        position:relative;
        top:-2.4em;
        right:-2em;
        font-weight:750;
        font-size:1.2em;
        background:rgb(255, 255, 255);
        box-shadow: 2px 3px 7px rgba(17, 6, 41, 0.425);
        width:2em;
        height:2em;
        text-align:center;
        border-radius: 100%;
        color:$contrast-color;
            @media(max-width:860px){
                top:0;
                right:.5em;
                background:$contrast-color;
                color:$med-color;
                width:2.5em;
                height:2.5em;
            }
    }
    &__price{
        font-weight:750; 
            @media(max-width:860px){
                right:8em;
                font-weight:600; 
                font-size:.8em;
            }
    }
    &__opt{
        text-overflow: ellipsis;
        width: 100%;
        max-width:200px;
        height:1.2em;
        overflow:hidden;
        $light-color-space: nowrap;
            @media(max-width:860px){
                display:none;
            }
    }
}

#remove-section{
    position: relative;
    z-index:99;
    margin-top:0;
    background:$light-color;
    grid-column: 3/11;
    align-self: flex-start;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    margin-bottom: 2em;
        @media(max-width:860px){
            margin-bottom:0;
            box-shadow: 2px 3px 7px $shadow-color;
            margin:0;
            grid-column: 1/13;
            position:absolute;
            bottom:0;
        }
    //border-top: solid 10px blue;
}

#remove-cart{
    all:unset;
    cursor:pointer;
    background:$contrast-color;
    color:$light-color;
    font-weight:700;
    font-size:1.2em;
    padding:1em;
    margin-left:1em;
}

#total-cart{
    font-size:1.4em;
    font-weight:600;
    margin-left:1em;
    color:$contrast-color;
        @media(max-width:860px){
            font-size:1em;
            font-weight:700;
            margin-right:.8em;
        } 
}

#form{
    display:flex;
    flex-direction:column;
    margin:20px;
    max-width:600px;
        &-wrap{
        grid-column: 7/13;
        grid-row: 2/3;
        display:flex;
        flex-direction:column;
        margin:20px;
        @media(max-width:860px){
            grid-column: 2/12;
            grid-row: 1/2;
            margin-top:120px;
        }
    }
}

.cta{
    text-align: center;
    cursor: pointer;
    color: $light-color;
    font-size: 1.2em;
    font-weight: 550;
    background: $call-color;
    padding: .6em;
    @media(max-width:860px){
        font-size: 1em;
        font-weight: 500;
        }
        &--white{
            text-align: center;
            cursor: pointer;
            color: $contrast-color;
            font-size: 1.2em;
            font-weight: 550;
            background: $light-color;
            padding: .6em;
            @media(max-width:860px){
            font-size: 1em;
            font-weight: 500;
            }
        }  
}

#valid-order{
    border:none;
    cursor: pointer;
    max-width:300px;
    height:100%;
    padding: 1.5em;
        @media(max-width:860px){
            padding: 1em 1.4em 1em 1.4em;
            margin:1em;
        }
}

.inactive{
    opacity:.5;
    pointer-events: none;
}
